<section class="aui-page-panel-content">
    <h1>Atlassian REST API Browser</h1>
    <p>
        Browse, discover, learn, and try out Atlassian's rich set of
        REST APIs.
    </p>

    <br>
    <div class="aui-group">
        <div class="aui-item">
            <div class="rab-bubble-get-started"></div>
            <h3>Getting Started</h3>
            <p>
                Atlassian products have a rich set of REST APIs you can use in
                various ways. The REST API Browser will help you get acquainted
                with all of the APIs.
            </p>
            <ul>
                <li><a href="https://developer.atlassian.com/display/DOCS/Atlassian+REST+API+Design+Guidelines+version+1" target="_blank">Atlassian REST Guidelines</a></li>
                <li><a href="https://developer.atlassian.com/display/DOCS/Using+the+REST+API+Browser" target="_blank">Learn more about the REST API Browser</a></li>
            </ul>
            <p>
                Have a question? Ask the <a href="https://answers.atlassian.com/search/?t=question&q=rest" target="_blank">Atlassian Answers</a> community.
            </p>
        </div>
        <div class="aui-item">
            <div class="rab-bubble-code"></div>
            <h3>Code</h3>
            <p>
                Once you've played with the REST APIs, you'll probably want to use
                them in your project. Here are a few other helpful links you might
                be interested in:
            </p>
            <ul>
                <li><a href="https://bitbucket.org/atlassian_tutorial/atlassian-oauth-examples" target="_blank">Atlassian OAuth examples</a></li>
                <li><a href="https://developer.atlassian.com/display/JIRADEV/JIRA+REST+API+Tutorials" target="_blank">JIRA REST API tutorials</a></li>
                <li><a href="https://developer.atlassian.com/display/BAMBOODEV/Bamboo+REST+APIs" target="_blank">Bamboo REST API tutorials</a></li>
                <li><a href="https://developer.atlassian.com/server/bitbucket/rest/v802/intro/" target="_blank">Bitbucket REST API</a></li>
            </ul>
            <!-- your content here -->
        </div>
    </div>

</section>